html
    head
        title = "Disease"
        link(rel="stylesheet" href ="/stylesheets/style.css")
        link(href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet")

    body
        include layout
        p.nf
        h1.oneTitle Disease
        table.displayOne
            tr
                td UMLSCUI:
                td #{result.UMLSCUI}
            tr
                td Disease Name:
                td #{result.DName}
            tr
                td MeSH:
                td #{result.MeSH}
            tr
                td SemanticType:
                td #{result.SemanticType}
            tr
                td PhenAbn:
                td #{result.PhenAbn}
            tr
                td DType:
                td #{result.DType}
            tr
                td NGenes:
                td #{result.NGenes}
            tr
                td NSnps:
                td #{result.NSnps}
        div.buttons
            a(href="/genedisassoc/"+result.UMLSCUI class="btn-1") View Gene-Disease Associations For This Disease
            br
            a(href="/vardisassoc/"+result.UMLSCUI class="btn-1") View Variant-Disease Associations for this Disease
        div.footer
            p Created by Katerina Papapostolou and Dimitra Fouska