html
    head
        title = "Gene - Disease Associations"
        link(rel="stylesheet" href ="/stylesheets/style.css")
        link(href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet")

    body
        include layout
        if(message==null)
            h1.nf Gene-Disease Associations
            table.table
                tr
                    th Gene
                    th Disease
                    th NSNPs
                    th NPMIDs
                    th Score
                    th EL
                    th EI
                    th First Reference
                    th Last Reference
                t.body
                    for item in result
                        tr
                            td #[a(href="/genes/"+item.Gene) #{item.Gene}]
                            td #[a(href="/diseases/"+item.Disease) #{item.Disease}]
                            td #{item.NSNPs}
                            td #{item.NPMIDs}
                            td #{item.Score}
                            td #{item.EL}
                            td #{item.EI}
                            td #{item.FirstRef}
                            td #{item.LastRef}
        else
            h1.nf No Gene-Disease Associations were found! Try again
            br
            img(src="https://cdn.shopify.com/s/files/1/1061/1924/products/Poop_Emoji_7b204f05-eec6-4496-91b1-351acc03d2c7_grande.png?v=1571606036")

        div.footer
            p Created by Katerina Papapostolou and Dimitra Fouska