html
    head
        title = "Gene"
        link(rel="stylesheet" href ="/stylesheets/style.css")
        link(href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet")

    body
        include layout
        p.nf
        h1.oneTitle Gene
        table.displayOne
            tr
                td Gene Symbol:
                td #{result.GeneSymbol}
            tr
                td Full Name:
                td #{result.FullName}
            tr
                td Entrez Identifier:
                td #{result.EntrezIdentifier}
            tr
                td Uniprot Accession:
                td #{result.UniprotAccession}
            tr
                td DPI:
                td #{result.DPI}
            tr
                td DSI:
                td #{result.DSI}
            tr
                td pLI:
                td #{result.pLI}
            tr
                td Number of Diseases:
                td #{result.NDiseases}
            br
        div.buttons
            a(href="/variants/a/"+result.GeneSymbol class="btn-1") View Variants for this Gene
            a(href="/genedisassoc/a/"+result.GeneSymbol class="btn-1") View Gene-Disease Associations for this Gene
        div.footer
            p Created by Katerina Papapostolou and Dimitra Fouska