html
    head
        title = "Variant"
        link(rel="stylesheet" href ="/stylesheets/style.css")
        link(href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet")

    body
        include layout
        p.nf
        h1.oneTitle Variant
        table.displayOne
            tr
                td Gene:
                td #[a(href="/genes/"+result.Gene) #{result.Gene}]
            tr
                td SNPIdentifier:
                td #{result.SNPIdentifier}
            tr
                td Class:
                td #{result.Class}
            tr
                td Chromosome:
                td #{result.Chromosome}
            tr
                td VPosition:
                td #{result.VPosition}
            tr
                td Consequence:
                td #{result.Consequence}
            tr
                td Alleles:
                td #{result.Alleles}
            tr
                td AFexome:
                td #{result.AFexome}
            tr
                td AFgenome:
                td #{result.AFgenome}
            tr
                td DPI:
                td #{result.DPI}
            tr
                td DSI:
                td #{result.DSI}
        div.buttons
            a(href="/vardisassoc/a/"+result.SNPIdentifier class="btn-1") View Variant-Disease Associations for this Variant
        div.footer
            p Created by Katerina Papapostolou and Dimitra Fouska